---
title: Servicios
display: true
---
<div id='services' class='content-area'>
	<div class="section">
		<h2>{{ services.title }}</h2>
		<p>{{ services.description }}</p>	
		<div class="services-info">
			{{#each services.servicesOffered}}
			    <p>{{ name }}</br>
			    {{ description }}</p>			    		
		    {{/each}}						    
	    </div>
    </div>	
</div>



