<div class="nav">
	<ul class="menu">
		<li class="header-logo-container">
			<a href="/">
				<img class="header-logo" src="img/logo.png" alt="Ni&ntilde;o Hurac&aacute;n Home">
			</a>
		</li>
		{{#each this}}
    		<li>
        		<a href="{{url}}">{{label}}</a>
        	</li>
		{{/each}}
		<li class="header-social-container">
			<a href="https://www.facebook.com/ninoHuracan" target="_blank">
				<img class="header-social" src="img/facebook.png" alt="Ni&ntilde;o Hurac&aacute;n Facebook">
			</a>
		</li>    	
    </ul>    
</div>
