html {
  position: relative;
  min-height: 100%;
}
body{
  margin: 0;
}
#footer{
  background-color: #000000;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  overflow:hidden;
}
 #footer .legals{
  list-style: none;
}
 #footer .legals li{
  float: left;
  color: #ffffff;
  text-decoration: none;
  font-family: "proxima-nova-n4","proxima-nova","Century Gothic",Helvetica,Arial,Sans-Serif;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 0.5em;
  letter-spacing: 0.2em;
  font-weight: 200;
  padding-left: 5%;
}
#topnav{
  background-color: #000000;
  position: absolute;
  width: 100%;
  height: 120px;
  min-width: 1100px;
}
#topnav .nav{  
  width:1100px; 
  margin:0 auto;
}
#topnav .nav .menu .header-logo-container{  
  float: left;
  padding-left: 0px;
  margin-top: 0px;
}
#topnav .nav .menu .header-social-container{
  float: right;
  padding-right: 25px;
  margin-top: 25px;
}
#topnav .nav .menu{  
  list-style: none;
  color: #ffffff;
}
#topnav .nav .menu li{  
  float: left;
  padding-left: 5%;
  margin-top: 40px;
}
#topnav .nav .menu li a{  
  color: #ffffff;
  text-decoration: none;
  font-family: "proxima-nova-n4","proxima-nova","Century Gothic",Helvetica,Arial,Sans-Serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 2px;
  font-weight: 600;
}
#slideshow{
  padding-top: 120px;
  width:792px; 
  margin:0 auto;
}
#slideshow .showcase-slide .slide0, .slide1, .slide2, .slide3, .slide4{
  position: absolute;
  display: block;
} 
#slideshow .showcase-slide .hidden{
  visibility: hidden;
}
#slideshow .showcase-toolbar{
  background: none;
  padding-top: 612px;
}

#slideshow .showcase-toolbar .indicators{  
  list-style: none;
  text-align: center;
  margin: 0 auto;
  display:table;
  overflow: hidden;
}
#slideshow .showcase-toolbar .indicators li{  
  float: left;
  width: 24px;
  height: 24px;
}
#slideshow .showcase-toolbar .indicators li .indicator0, .indicator1, .indicator2, .indicator3, .indicator4{  
  width: 24px;
  height: 24px;
}